{% extends "_base.html" %}

{% block first_area %}
	<section class="slider_section position-relative">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="col-lg-10 col-md-11 mx-auto">
							<div class="detail-box">
								<div>
									<h2>欢迎游玩</h2>
									<h1>悠然服务器</h1>
									<br />
									<h3>简介</h3>
									<p>
										我们是一个拥有数十个模组以及一些插件的 Minecraft Java 1.12.2
										SpongeForge 公益服，最开始仅仅是一个原版纯生存服务器，后来开始装模组和 SpongeForge。<br />
										2024 年底，我们的服务器暂时关闭，现在正准备于近期（2026 年 6 ~ 7 月）重新开启！<br />
										目前，我们的服务器位于江西，由<a target="_blank" href="https://www.rhymc.com/aff.php?aff=1140">旋律云</a>提供。
									</p>
									<div class="">
										<a href="#download">加 入 服 务 器</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<section class="feature_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>特色</h2>
			</div>

			<div class="feature_container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="box">
							<div class="img-box">
								<i class="fa-solid fa-pencil fa-2xl" style="color: #FF6633;"></i>
							</div>
							<div class="detail-box">
								<h5>少许魔改</h5>
								<p>
									我们为了让各个模组能够互相联动，利用一些魔改模组修改或新增了一些东西。
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box">
							<div class="img-box">
								<i class="fa-solid fa-layer-group fa-2xl" style="color: #FF6633;"></i>
							</div>
							<div class="detail-box">
								<h5>安全备份</h5>
								<p>
									服务器每天都会对存档进行两次备份，并重点备份玩家数据，基本不用担心数据丢失！
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box">
							<div class="img-box">
								<i class="fa-solid fa-signal fa-2xl" style="color: #FF6633;"></i>
							</div>
							<div class="detail-box">
								<h5>离线模式</h5>
								<p>
									我们是离线服务器，不需要玩家需要正版账号。但我们同时也通过开启白名单、加装登录插件等方式来防止玩家恶意破坏。
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box">
							<div class="img-box">
								<i class="fa-regular fa-heart fa-2xl" style="color: #FF6633;"></i>
							</div>
							<div class="detail-box">
								<h5>公益服！</h5>
								<p>
									我们是公益服，不需要花费任何一分钱即可游玩。当然你想要无偿赞助也不是不可以。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="disadvantage_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="detail-box">
						<h2>但有这些缺点</h2>
						<p>
							一、人少，主要都是学生党，上学时间服务器可能会冷清<br />
							二、没有领地插件<br />
							三、[客户端]正版、盗版还有外置登录的皮肤显示各有些问题<br />
							四、谁会搞建筑啊啊啊啊啊！！！！！！<br />
							五、严重缺少会管理的管理人员<br />
							六、开局新手引导还未完工
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="download_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2><a name="download">加入服务器</a></h2>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="detail-box">
						<p>
							如果你想要游玩我们的服务器，请点击<strong>下方按钮</strong>直接下载客户端，或采用下面给出的其他下载方式。<br />
							另外，非常建议你去阅读<a
								href="https://docs.youran.qingu.moe/"
								target="_blank">服务器网页手册</a>来了解我们服务器。（注；服务器网页手册基于Github，访问速度较慢）
						</p>
						<div class="btn-box">
							<a target="_blank"
								href="https://dl-yr.qg.mo.cn/YouranServer.zip">
								下载客户端 </a>
						</div>
						<br />
						<br />
						<h5>其他下载方式</h5>
						<p>
							①<a target="_blank" href="https://share.weiyun.com/xUo5GbIV">微云网盘下载</a><br />
							②<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=Hwv4w2NU">加入服务器QQ群下载</a><br />
							③<a target="_blank"
								href="https://pan.baidu.com/s/12ed5ikwhiDBLGW61YDa60Q?pwd=yran">百度网盘下载（不推荐）（提取码：yran）</a><br /><br />
							你也可以点击<a href="/list.html">此处</a>浏览全部客户端版本（这有啥用）<br />
						</p>
						<h3><a name="install">安装</a></h3>
						<p style="color:red">
							注意：我们服务器的整合包比较特殊，是专门使用HMCL启动器制作的服务器自动更新整合包，必须要使用HMCL启动器安装（所以如果你正在使用其他启动器，将会比较麻烦）。如果你使用的是Plain Craft Launcher 2或其他启动器，且怕麻烦的话，请试试我们自1.8.2版本开始尝试制作的MCBBS标准整合包。如果你要下载这个整合包，请<a target="_blank" href="https://dl-yr.qg.mo.cn/YouranServer%20MCBBS.zip">点此</a>下载，或前往服务器整合包版本列表获取更多下载方式。</p>
						<h4>①</h4>
						<p>打开你的HMCL（Hello Minecraft! Launcher）启动器。如果你在使用网易我的世界启动器或其他启动器（如Plain Craft Launcher 2），请<a
								href="https://hmcl.huangyuhui.net/download/" target="_blank">前往HMCL官网下载</a>，或点击<a
								target="_blank" href="https://docs.qq.com/doc/DVGpxbW9xZ2JOR1dS">此处</a>查看Minecraft
							Java游玩教程。</p>
						<h4>②</h4>
						<p>点击左侧的版本列表，在“版本列表”界面的上面一栏中找到“安装整合包”</p>
						<img src="6.png"></img>
						<h4>③</h4>
						<p>在安装整合包界面，你可以将已经下载的整合包文件导入到启动器中（直接拖入最简单了），也可以采用从互联网下载整合包的方式，填入“https://dl-yr.qg.mo.cn/server-manifest.json”也可以安装。
						</p>
						<img src="7.png"></img>
						<h4>④</h4>
						<p>在弹出的界面中，确认整合包信息，然后点击安装即可</p>
						<img src="2.png"></img>
						<p>当弹出“安装成功”时，整合包就安装成功了！</p>
						<img src="3.png"></img>
						<br />
						<br />
						<h3>获取白名单</h3>
						<p>加入服务器QQ群：<a target="_blank"
								href="https://jq.qq.com/?_wv=1027&k=Hwv4w2NU">953168624</a>，申请白名单！</p>
						<h3>服务器地址</h3>
						<p>我们服务器的地址是：<strong>server.youranserver.top</strong>，欢迎游玩！。另外，点击<a
								href="https://docs.youran.qingu.moe/"
								target="_blank">这里</a>可以前往服务器网页手册。（注；服务器网页手册基于Github，访问速度较慢）</p>
						<h3><a name="update">更新</a></h3>
						<p>我们服务器会常常不定期更新整合包。<br />
							虽然我们这个整合包是服务器自动更新版，启动时会自动检查是否有更新并自动下载，但如果你发现无法自动更新，你就需要参照下面的教程手动更新。</p>
						<h4>①</h4>
						<p>点击左侧的版本列表，在弹出的界面中找到已经安装的整合包</p>
						<img src="5.png"></img>
						<h4>②</h4>
						<p>点击整合包右侧的时钟状更新按钮，在弹出的界面中将新版整合包文件拖入</p>
						<img src="8.png"></img>
						<br />
						<img src="7.png"></img>
						<h4>③</h4>
						<p>点击安装即可</p>
						<img src="2.png"></img>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="info_section layout_padding2">
		<div class="container">
			<div class="info_items">
				<a href="#">
					<div class="item">
						<i class="fa-solid fa-server fa-2xl" style="color: #ffffff;"></i>
						<br />
						<div class="detail-box">
							<p>server.youranserver.top</p>
						</div>
					</div>
				</a>
				<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=Hwv4w2NU">
					<div class="item">
						<i class="fa-brands fa-qq fa-2xl" style="color: #ffffff;"></i>
						<br />
						<div class="detail-box">
							<p>953168624</p>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="item">
						<i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
						<br />
						<div class="detail-box">
							<p>youran.qingu.moe</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
{% endblock %}
